.login-container {
    position: relative;
    top: 25vh;
    width: 80%;
    margin: auto;
}

.login-content {
    width: 50%;
    margin: auto;
    padding: 2vh 2vw;
}

.inlogcenter {
    text-align: center;
}



.form-control {
    border-radius: 10px;
}

.btn-login {
    width: 100%;
    background: #2a3136!important;
    border: 0 solid transparent!important;
    transition: background 500ms;
}

.btn-login:hover {
    width: 100%;
    background: #161a1d!important;
    border: 0 solid transparent!important;
}